@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-color: #3083DC;
    --secondary-color: #03045E;
    --secondary2-color: #BFFAFF;
    --secondary2-color-rgb: 191, 250, 255;
    --accent1-color: #FCCA46;
    --accent2-color: #FF1D15;

    --heading-font: "Bebas Neue",sans-serif;
    --paragraph-font: "Montserrat", "Arial", sans-serif;

    --nav-background-color: #03045E;
    --nav-link-color: #FCCA46;
    --nav-hover-link-color: #FF1D15;
    --nav-hover-background-color: #03045E;
}

header {
    margin: 1rem auto;
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    justify-content: center;
}

header img {
    display:block;
    width: 200px;
    height: auto;
    justify-self: center;
}

header nav {
    background-color: var(--nav-background-color);
    display: flex;
    justify-content: space-around;
    list-style: none;
}
    
header nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--nav-link-color);
}

header nav a:link, header nav a:visited, .flink:link, .flink:visited {
    color: var(--nav-link-color)
}

header nav a:hover, .flink:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

body {
    font-family: var(--paragraph-font);
    background-color: var(--secondary2-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-size: xx-large;
}

footer p {
    padding: 25px;
    color: var(--secondary2-color);
}

.flink {
    text-decoration: none;
}

footer {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 200px;
    align-items: center;
    background-color: var(--nav-background-color);
}

.hero article {
    max-width: 90%;
    position: absolute;
    top: 340px; left: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(var(--secondary2-color-rgb), 0.4);
}

.hero article img {
    max-width: 20%;
    float: right;
}

.hero article p {
    padding: 0px;
    color: var(--secondary-color);
}

.page {
    max-width: 960px;
    margin: 0 auto;
    padding: .5rem;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10px; left: 20px;
    color: var(--accent1-color);
}

.history {
    display: grid;
    padding-top: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.history h2 {
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.history p {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    color: var(--secondary-color);
}

.history img {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    max-width: 100%;
    height: auto;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.adventure h2 {
    grid-column: 1 / span 5;
    grid-row: 1;
    text-align: center;
}

figure {
    grid-row: 2 / 3;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon {
    max-width: 50px;
}

/* following css code is for contact file */

.contact {
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
}

.contact-info, .map {
    padding: 1em;
    text-align: center;
}

.team h2, .contact h1, form h2, .trips-sec h2, .homepics h2 {
    padding-top: 1em;
    text-align: center;
    flex: 1;
}

form {
    width: 650px;
    margin: 0 auto;
    border-radius: 0.5rem;
    display: grid;
}

.form-item {
    display: grid;
    align-items: center;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    border: none;
    padding: 1rem;
}

label {
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.radio-buttons {
    padding-top: .5rem;
}

input, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

.checkbox {
    display: grid;
    grid-template-columns: auto 1fr;
}

.checkbox label {
    margin-left: 1em;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    order: -1;
}

button, .action a {
    margin: 1rem;
    background-color: var(--nav-background-color);
    color: var(--secondary2-color);
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover, .action a:hover {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.portraits {
    padding-top: 1em;
    padding-bottom: 1em;
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.portrait {
    width: 150px;
    height: 200px;
    display: block;
    flex: 150px;
}

figcaption {
    padding-top: 0.5em;
}

/* following css code is for trips page */

.action {
    padding-top: 1em;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.action p, .action a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.trips {
    padding-top: 1em;
    padding-bottom: 1em;
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.trip {
    width: 275px;
    height: auto;
    display: block;
}

table {
    margin: 1em;
    border-radius: .5rem;
    border: 3px solid var(--secondary-color);
    background-color: var(--secondary-color);
}

table caption {
    font-size: x-large;
}

td {
    white-space: nowrap;
    padding: .2rem; 
    vertical-align: top;
    text-align: center;
    background-color: var(--secondary2-color);
}

th {
    background-color: var(--secondary-color);
    color: var(--secondary2-color);
    padding: .5rem;
}

.description {
    white-space: normal;
    text-align: left;
}

/* The following code is for the home page */

.homehero {
    position: relative;
}

.homehero img {
    display: block;
    width: 100%;
    height: auto;
}

.homehero article {
    max-width: 90%;
    position: absolute;
    top: 370px; left: 25px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(var(--secondary2-color-rgb), 0.4);
}

.homehero article h2 {
    padding: 0px;
    color: var(--secondary-color);
    font-size: 4em;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
}

.homediv {
    width: fit-content;
    align-self: end;
    padding-left: 1em;
    padding-right: 1em;
}

.newsletter {
    width: max-content;
    margin: 0 auto;
    border-radius: 0.5rem;
    display: grid;
}

.homepics {
    grid-column: 1 / 3;
    grid-row: 2;
}

.sitepics {
    padding-top: 3em;
    padding-bottom: 5em;
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.sitepic {
    width: 250px;
    display: block;
    flex: 150px;
}
