@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #3083DC;
    --secondary1-color: #03045E;
    --secondary2-color: #BFFAFF;
    --accent1-color: #FCCA46;
    --accent2-color: #FF1D15;

    --heading-font: "Bebas Neue",sans-serif;
    --paragraph-font: "Montserrat", "Arial", sans-serif;

    --nav-background-color: #03045E;
    --nav-link-color: #FCCA46;
    --nav-hover-link-color: #FF1D15;
    --nav-hover-background-color: #03045E;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    margin-top: 15px;
    text-align: center;
}