* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Verdana";
}

nav {
background-color: steelblue;
padding: 1rem;
display: flex;
justify-content: space-evenly;
align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

ul {
    margin-left: 1rem;
}

h1, main p {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

main img {
    width: 150px;
    height: auto;
    float: right;
    padding-left: 1rem;
}

li {
    margin-left: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    margin: 1rem;
}

aside h2 {
    position: absolute;
    top: 120px;
    left: 65px;
    color: white;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

footer p {
    margin-top: 15px;
}

h1 {
    padding: 1rem;
    border-bottom: 1px solid steelblue;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.grid {
    display: grid;
    align-items: center;
}

